<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace名字必须与Mapper接口名一致 -->
<mapper namespace="com.lenovo.push.marketing.lestat.db.mysql1.mapper.AppDeviceModelMapper">
	<select id="getActNumByAppDeviceModelPattern"   parameterType="map" resultType="java.util.ArrayList" resultMap="appDeviceModelMap">
		select devicemodel, actnum from appdevicemodel where sid=#{sid} 
		<if test="adid != null">  
        	and adid = #{adid}
	    </if>
	    <if test="deviceModelPattern != null">  
        	and devicemodel like #{deviceModelPattern}
	    </if>
	    order by devicemodel		
	</select>
</mapper>